# macOS general ignores
.DS_Store

# IDE
.idea/
.vscode/
__pycache__/

# Entorno Virtual
.venv/

# Archivos compilados de Python
*.pyc

# Distribución y build (opcional pero recomendado)
dist/
build/
*.egg-info/

